html, body{
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
}
.btn{
  background-color: inherit;
  border: none;
  outline: none;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 1.2em;
  padding: 10px 12px;
}
.bottom-space{
  margin-bottom: 2em;
}
.be-big{
  font-size: 2em;
}
.be-small{
  font-size: 12px;
}
.underline{
  text-decoration: underline;
}

a{
  color: inherit;
  text-decoration: none;
}
#logo{
  font-size: 1.2em;
}
.no-margin{
  margin: 0px;
}
.red{
  color: #E74C3C !important;
}
.blue{
  color: #66CCFF !important;
}
ul {
  list-style-type: none;
}
.be-red{
  background-color: #E74C3C;
}
.white{
  color: #ecf0f1;
}
.grey{
  color: #616161;
}
.large-padding{
  padding: 8px 5px;
}
.field, .top-space, .actions{
  margin-top: 1em;
}
.hidden{
  display:none !important;
}
.text-left{
  text-align: left;
}
.text-right{
  text-align: right;
}
.text-justify{
  text-align: justify;
}
.article-height{
  height: 150px;
}
.background-cover{
  background-position: center;
;
}
.relative{
  position: relative;
}
.absolute{
  position: absolute;
}
.form-control{
  border: none;
  border-bottom: 1px solid;
  outline: none;
  width: 100%;
  display: block;
  padding: 10px 0;
  font-size: 1.2em;
}